*{
    margin:0;
    padding: 0;
}
body{
    min-height: 100vh;
    font-family:Helvetica, sans-serif;
}
/* For the background-color, font-size and color */
/* Top */
.top{
    background-color: #1f2937;
}

.bold-text{
font-size: 48px;
    font-weight: 400;
    color:#f9faf8;
}
.subtext,.links{
    font-size:18px;
    color:#e5e7eb;
}
.logo{
    font-size:24px;
    color:#f9faf8;
}
.header-btn>button{
    color: #e5e7eb;
    background-color: #3882f6;
}
/*information*/
.info>p{
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
}
/*quote*/
.quote{
    background-color: #e5e7eb;
}
.line>p{
    font-size:36px;
    font-weight: lighter;
    color:#1f2937;
}
.author>p{
    font-weight: bold;
}
/*action*/
.action-btn>button{
    background-color: #3882f6;
    border:2px solid #e5e7eb;
    color: #e5e7eb;
}
.action p{
    color: #e5e7eb;
}

/* for the designing the layout using flexbox and margin/paddings */

/*top */
.header
{
    display:flex;
    padding:32px;
    justify-content: space-between;
    margin:0px 20px 40px 20px;
}
.links>ul{
    display: flex;
    gap:14px;
    list-style: none;
}
.header-content{
    display: flex;
    justify-content: space-evenly;
    padding:32px;
}
.text * {
    margin:8px;
}
.header-btn{
    margin-top:10px;
}
.header-btn>button{
  
    padding:6px 20px;
    border-radius: 5px;
}
.header-image>img{
    margin:10px;
    width:500px;
    height:300px;
}

/* main-content */

/*information*/
.info>p{
    margin:40px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.image-section{
    margin:20px;
    display: flex;
    justify-content: space-evenly;
    gap:10px;
}

.image-card>img{
    width:200px;
    height: 200px;
    border:3px solid #3882f6;
}
.image-card>p{
    text-align: center;
    max-width: 200px;
}

/*quote*/
.quote{
    padding:5em;
    display: flex;
    flex-direction: column;
    gap:10px;
    margin:30px 0;
}

.line{
    
    align-self: center;
}
.author{
    align-self: flex-end;
}

/*action*/
.action {
    display: flex;
    justify-content: center;
    align-content: center;

}
.action-content{
    background-color: #3882f6;
    margin:3em 5rem;
    display: flex;
    padding:2em 5em ;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
}
.side-text>:nth-child(1){
    font-weight: bold;
}
.side-text{
    padding:10px;
}

.action-btn>button{
    padding:8px 16px;
    border-radius: 5px; 
}

